<div id="app">
  <h1>Add a Beer:</h1>
  <ul>
    <li v-for="error in errors">{{ error }}</li>
  </ul>
  <div>
    Name: <input type="text" v-model="newBeerName">
    Style: <input type="text" v-model="newBeerStyle">
    Acohol Content: <input type="text" v-model="newBeerAlcohol">
    <button v-on:click="addBeer()">Add Beer</button>
  </div>
  <div>
    Search by name: <input type="text" v-model="nameFilter">
  </div>
  <div>
    Search by style: <input type="text" v-model="styleFilter">
  </div>
  <div v-for="beer in filteredBeers">
    <h3>{{ beer.name }}</h3>
    <p>{{ beer.style }}</p>
    <p>{{ beer.alcohol_content }}</p>
  </div>
</div>